.title{
    width: 700px;
    height: 79px;
    margin-right: auto;
}

.text-title{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 67px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 44%;
    
}

span{
    color: #4BCAFF;
}

.header-menu-container{
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    margin: 40px auto 0;
    margin-bottom: 50px;
    
    
}

.header-menu-list{
    display: flex;
    height: 69px;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 5px;
    
}

.header-menu-item :hover{
    background-color: #222f3a;
    
    
    
}

.header-menu-item{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 69px;
    line-height: 69px; 
    
    
}

.header-menu-item a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 17px;

}

.main-left-menu{
    display: flex;
    width: 344px;
    height: 399px;
    border: 1px solid #000;
    margin-left: 305px;
    padding-bottom: 30px;
   

}

.main-left-list{
    list-style-type: none;
    flex-direction: column;
    padding-inline-start: 0px;
    
    
    
}

.main-left-item {
    width: 342px;
    height: 81px;
    display: flex;
     
}

.main-left-item :hover{
    background-color:  #dbdbdb;
    padding-left: 60px;
    width: 324px;
    height: 65px;   
    margin-bottom: 6px;

}

.main-left-item a{
    text-decoration: none;
    color: #485863;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    line-height: 65px;
    padding-left: 40px;
    width: 100%;
}

.right-image-conteiner {
    display: inline-block;
    margin-left: 80px;
    
   
}

.right-image-logo{
    padding-left: 250px;
    padding-right: 250px;
    border: 1px solid black;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block; 
    margin-bottom: 30px;

}

.img-text-item-2{
    padding-top: 15px;
}

.right-image-logo :hover{
   size: 150px;
}



img{
    width: 350px;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 35px;
}
div:hover img{
    transform: scale(1.1);
    transition: 0.3s;
}
    
.footer-menu{
    width: 1280px;
    height: 69px;
    background-color: rgb(150, 150, 150); 
    margin: 40px auto 0;
    display: block;
    margin-top: 440px; 
}

.footer-menu-list{
    display: flex;
    height: 69px;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 29px;
    
}

.footer-menu-item{
    height: 69px;
    line-height: 70px; 
    display: block;
    
}

.footer-menu-item a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 17px;
}

.footer-menu-date-right{
    padding-left: 150px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}

.footer-menu-item :hover{
    text-decoration: underline;
    color: #3181A6;
}